@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Nunito Sans", sans-serif;

  --color-background: var(--background);
  --color-background-disabled: var(--background-disabled);

  --color-overlay: var(--overlay);
  --color-dim: var(--dim);

  --color-foreground: var(--foreground);
  --color-foreground-disabled: var(--foreground-disabled);
  --color-medium-emphasis: var(--medium-emphasis);
  --color-low-emphasis: var(--low-emphasis);

  --color-surface: var(--surface);
  --color-surface-inverse: var(--surface-inverse);
  --color-on-surface-inverse: var(--on-surface-inverse);

  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-primary-inverse: var(--primary-inverse);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);

  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);

  --color-selected: var(--selected);
  --color-on-selected: var(--on-selected);
  --color-selected-container: var(--selected-container);
  --color-on-selected-container: var(--on-selected-container);

  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);
  --color-error-inverse: var(--error-inverse);

  --color-warning: var(--warning);
  --color-on-warning: var(--on-warning);
  --color-warning-container: var(--warning-container);
  --color-on-warning-container: var(--on-warning-container);
  --color-warning-inverse: var(--warning-inverse);

  --color-success: var(--success);
  --color-on-success: var(--on-success);
  --color-success-container: var(--success-container);
  --color-on-success-container: var(--on-success-container);
  --color-success-inverse: var(--success-inverse);

  --color-info: var(--info);
  --color-on-info: var(--on-info);
  --color-info-container: var(--info-container);
  --color-on-info-container: var(--on-info-container);
  --color-info-inverse: var(--info-inverse);

  --color-negative: var(--negative);
  --color-on-negative: var(--on-negative);
  --color-negative-container: var(--negative-container);
  --color-on-negative-container: var(--on-negative-container);
  --color-negative-inverse: var(--negative-inverse);

  --color-transact: var(--transact);
  --color-on-transact: var(--on-transact);

  --color-save: var(--save);
  --color-on-save: var(--on-save);

  --color-insure: var(--insure);
  --color-on-insure: var(--on-insure);

  --color-credit: var(--credit);
  --color-on-credit: var(--on-credit);

  --color-live-better: var(--live-better);
  --color-on-live-better: var(--on-live-better);

  --color-connect: var(--connect);
  --color-on-connect: var(--on-connect);

  --color-business: var(--business);
  --color-on-business: var(--on-business);
}

:root {
  --background: #f8fafd;
  --background-disabled: #1f272e0c;

  --overlay: #06121b48;
  --dim: #f0f3fa;

  --foreground: #1f272e;
  --foreground-disabled: #1f272e28;
  --medium-emphasis: #4a535c;
  --low-emphasis: #6d7885;

  --surface: #ffffff;
  --surface-inverse: #293138;
  --on-surface-inverse: #f0f3fa;

  --primary: #2f70ef;
  --on-primary: #ffffff;
  --primary-container: #e8edff;
  --on-primary-container: #1655d1;
  --primary-inverse: #98b8fe;

  --secondary: #0033a0;
  --on-secondary: #ffffff;
  --secondary-container: #d6e3fe;
  --on-secondary-container: #0033a0;

  --tertiary: #f9423a;
  --on-tertiary: #ffffff;

  --selected: #004bb8;
  --on-selected: #ffffff;
  --selected-container: #0051ff;
  --on-selected-container: #0033a0;

  --outline: #a3acb7;
  --outline-variant: #cfd5e0;

  --error: #e7000b;
  --on-error: #ffffff;
  --error-container: #fff0f0;
  --on-error-container: #e7000b;
  --error-inverse: #f6767a;

  --warning: #d66700;
  --on-warning: #ffffff;
  --warning-container: #fff0e8;
  --on-warning-container: #b14c02;
  --warning-inverse: #fca461;

  --success: #009243;
  --on-success: #ffffff;
  --success-container: #e3fae1;
  --on-success-container: #007b38;
  --success-inverse: #71cb85;

  --info: #00929f;
  --on-info: #ffffff;
  --info-container: #e2f8fc;
  --on-info-container: #007681;
  --info-inverse: #61c7d4;

  --negative: #545f6a;
  --on-negative: #ffffff;
  --negative-container: #eaedf4;
  --on-negative-container: #4a535c;
  --negative-inverse: #aebbca;

  --transact: #2f70ef;
  --on-transact: #ffffff;

  --save: #00486d;
  --on-save: #ffffff;

  --insure: #5d737e;
  --on-insure: #ffffff;

  --credit: #e61414;
  --on-credit: #ffffff;

  --live-better: #4111a4;
  --on-live-better: #ffffff;

  --connect: #001847;
  --on-connect: #ffffff;

  --business: #1e313e;
  --on-business: #ffffff;
}

.dark {
  --background: #181c20;
  --background-disabled: #23272e;

  --overlay: #f0f3fa48;
  --dim: #293138;

  --foreground: #f0f3fa;
  --foreground-disabled: #f0f3fa28;
  --medium-emphasis: #cfd5e0;
  --low-emphasis: #a3acb7;

  --surface: #23272e;
  --surface-inverse: #ffffff;
  --on-surface-inverse: #293138;

  --primary: #98b8fe;
  --on-primary: #293138;
  --primary-container: #1655d1;
  --on-primary-container: #e8edff;
  --primary-inverse: #2f70ef;

  --secondary: #d6e3fe;
  --on-secondary: #0033a0;
  --secondary-container: #0033a0;
  --on-secondary-container: #d6e3fe;

  --tertiary: #f6767a;
  --on-tertiary: #293138;

  --selected: #98b8fe;
  --on-selected: #293138;
  --selected-container: #1655d1;
  --on-selected-container: #e8edff;

  --outline: #4a535c;
  --outline-variant: #293138;

  --error: #f6767a;
  --on-error: #293138;
  --error-container: #a5132a;
  --on-error-container: #fff0ef;
  --error-inverse: #a5132a;

  --warning: #fca461;
  --on-warning: #293138;
  --warning-container: #b14c02;
  --on-warning-container: #fff0e8;
  --warning-inverse: #d66700;

  --success: #71cb85;
  --on-success: #293138;
  --success-container: #007b38;
  --on-success-container: #e3fae1;
  --success-inverse: #009243;

  --info: #61c7d4;
  --on-info: #293138;
  --info-container: #007681;
  --on-info-container: #e2f8fc;
  --info-inverse: #00929f;

  --negative: #aebbca;
  --on-negative: #293138;
  --negative-container: #4a535c;
  --on-negative-container: #eaedf4;
  --negative-inverse: #545f6a;

  --transact: #98b8fe;
  --on-transact: #293138;

  --save: #71cb85;
  --on-save: #293138;

  --insure: #a3acb7;
  --on-insure: #293138;

  --credit: #f6767a;
  --on-credit: #293138;

  --live-better: #bba6f7;
  --on-live-better: #293138;

  --connect: #98b8fe;
  --on-connect: #293138;

  --business: #aebbca;
  --on-business: #293138;
}
